.idea/
bower_components/
node_modules/
*.log
*.tmp

/functions/lib/serviceAccountKey.json
/functions/lib/**/*.js
/functions/lib/**/*.js.map
/functions/lib/**/*.d.ts
/functions/test/**/*.js
/functions/test/**/*.js.map

/lib/**/*.js.map
/test/**/*.js
/test/**/*.js.map
/test/**/*.d.ts

